#header{
    height: 41px; 
    width: 941px; 
    background-color: #CCFF99;
}
#Footer {
    width: 944px;
    height: 16px;
    position: relative;
    background-color: #FFFF99;
    top: 550px;
    left: 3px;
}
#logo{
    height: 40px; 
    width: 161px
}


#menu{
    height: 550px; 
    width: 164px; 
    background-color: #CC9900; 
    position:absolute; 
    top: 60px; 
    left: 15px;
}
#body{
    height: 550px; 
    width: 768px; 
    position:absolute; 
    top: 60px; 
    left: 182px;
}
.login{
   text-align:center;
}